#Ignore all files in cache directory except .gitkeep (allows the "empty" directory to be tracked by Git)
/framework/cache/*
!/framework/cache/.gitkeep

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_STORE
